.comment-tree-content {
  margin: 1rem 1rem 0 0;
  display: flex;
  flex-direction: row;
}

/* EXPANDED TREE */
.comment-tree-content .comment-voter-collapser {
  flex: 0 0 auto;
  min-width: 1rem;
  margin-right: 0.8rem;
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column
}

.comment-voter {
  flex: 0 0 auto;
}

.comment-voter span {
  color: white;
}

.comment-voter.upvoter span:hover {
  color: #cc3700;
  cursor: pointer;
}

.comment-voter.downvoter span:hover {
  color: #8DA8FF;
  cursor: pointer;
}

span.thread-line-container {
  flex: 1 1 auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-color: #818481;
}

span.thread-line-container:hover {
  border-color: white;
}

div.thread-line {
  border: 1px solid white;
  flex: 1 1 auto;
  margin: 0 45%;
  border-color: inherit;
}

.comment-tree-content .children-container {
  padding-left: 2rem;
}

.comment-tree-content .poster-info-container {
  display: inline;
  font-size: 80%;
  color: #818481;
}

.comment-tree-content .comment-links {

}

.comment-links .comment-icon {
  display: inline-block;
}

.comment-tree-content .comment-links .comment-buttons {
  background-color: #333;
  color: #818481;
  font-weight: bold;
  border: 0;
  display: inline-block;
  padding-bottom: 0.7rem;
  margin-top: 0.2rem;
}

/* Collapsed Tree*/
.collapsed-container .collapsed-links{
  opacity: 0.25;
}
.comment-tree-content .expander {
  flex: 0 0 auto;
  margin-right: 0.8rem;
  margin-top: 0.3rem;
  cursor: pointer;
}

.poster-info-container span{
  margin: 0 0.4rem;
}
