.create-post-container {
  background-color: #333333;
  border-radius: 4px;
  padding: 2rem;
}

.create-post-container .ql-container {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top: 0;
  font-style: normal;
}

.create-post-container .ql-toolbar {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 0;
  background-color: #F0F0F0;
}

.create-post-container #create-post-title {
  border-radius: 0.5rem;
  background-color: #333333;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.create-post-container #create-post-title:-webkit-autofill,
.create-post-container #create-post-title:-webkit-autofill:hover,
.create-post-container #create-post-title:-webkit-autofill:focus,
.create-post-container #create-post-title:-webkit-autofill:active  {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}

.create-post-container #create-post-title::placeHolder {
  color: white;
}

.submit-button {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
