.vote-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
}

.voter-arrow {
  flex: 0 0 auto;
}

.voter span {
  color: white;
}

.voter-arrow.upvoter span:hover {
  color: #cc3700;
  cursor: pointer;
}

.voter-arrow.downvoter span:hover {
  color: #8DA8FF;
  cursor: pointer;
}

.vote-count {
  flex: 0 0 auto;
}
