.comment-tree-content .comment-voter-collapser {
  flex: 0 0 auto;
  min-width: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20px;
}

.comment-voter {
  flex: 0 0 auto;
}

.comment-voter span {
  color: white;
}

.comment-voter.upvoter span:hover {
  color: #cc3700;
  cursor: pointer;
}

.comment-voter.downvoter span:hover {
  color: #8da8ff;
  cursor: pointer;
}

span.thread-line-container {
  flex: 1 1 auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
span.thread-line-container > div.thread-line {
  background-color: #818481;
  flex: 1 1 auto;
  width: 1.5px;
}
span.thread-line-container:hover > div.thread-line {
  background-color: white;
}

.comment-panel {
  display: flex;
  flex-direction: column;
}

.comment-panel .comment-body-container {
  max-width: 75rem;
}

.comment-panel .comment-info-line-container,
.comment-body-container,
.comment-links {
  padding-left: 0.6rem;
}
