#navbar-base {
  font-family: Poppins;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
}

#navbar-base > #home-nav-link {
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#navbar-base > #home-nav-link div.home-link-contents {
  display: flex;
  align-items: center;
}

#navbar-base > #home-nav-link div.home-link-contents > #rereddit-icon {
  max-width: 3.5rem;
  display: inline-block;
}

#navbar-base > #home-nav-link div.home-link-contents > #nav-home-link {
  margin-bottom: -0.5rem;
  margin-left: 0.3rem;
  font-weight: 700;
  font-size: 1.3em;
}

#navbar-base > div#subreddit-feed-dropdown-container {
  background-color: inherit;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-shrink: 0;
  width: 25rem;
  display: flex;
  flex: 0 6 auto;
}
div#subreddit-feed-dropdown-container > div.btn-group {
  display: flex;
  flex: 1 1 auto;
}
div#subreddit-feed-dropdown-container button {
  background-color: inherit;
  color: white;
  flex: 1 1 100%;
  height: 3.5rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-color: transparent;
}
div#subreddit-feed-dropdown-container button:hover {
  border-color: #cccccc;
}
div#subreddit-feed-dropdown-container ul.dropdown-menu {
  background: #1b1b1b;
  width: 25rem;
}
div#subreddit-feed-dropdown-container ul.dropdown-menu li > a {
  color: white;
}
div#subreddit-feed-dropdown-container ul.dropdown-menu li > a:hover {
  background-color: #4d4d4d;
}

#navbar-base > div#searchbar-container {
  flex: 5 1 auto;
  display: flex;
}
div#searchbar-container > div.navbar-form {
  width: 80%;
  padding: 0;
  margin: 0;
  border: 0 solid transparent;
}
div#searchbar-container > div.navbar-form div.form-group {
  width: 100%;
  display: flex;
  align-items: center;
}
div#searchbar-container > div.navbar-form div.form-group input {
  width: 100%;
  background-color: #333333;
  border-color: transparent;
  color: white;
}
div#searchbar-container > div.navbar-form div.form-group input:hover,
div#searchbar-container > div.navbar-form div.form-group input:active,
div#searchbar-container > div.navbar-form div.form-group input:focus {
  width: 100%;
  background-color: #070707;
  border-color: #cccccc;
}

#navbar-base > div#user-auth-dropdown-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2 5 auto;
  margin-right: 3rem;
}
div#user-auth-dropdown-container > ul {
  margin: 0;
}

@media screen and (max-width: 800px) {
  #nav-home-link {
    display: none;
  }
  #navbar-base > div#subreddit-feed-dropdown-container {
    margin: 0;
    flex-shrink: 2;
  }
  div#searchbar-container > div.navbar-form {
    width: 95%;
    padding: 0;
    margin: 0;
    border: 0 solid transparent;
    flex-shrink: 1;
  }
  #navbar-base > div#user-auth-dropdown-container {
    margin: 0;
    margin-right: 0.4rem;
    flex-shrink: 0;
  }
}
