div.sidebar-content {
  text-align: center;
  background: #333;
  font-size: 2rem;
  color: white;
  border-radius: 2px;
}

div.description {
  margin-top: 2rem;
  font-size: 0.9em;
}

.sidebar-button {
  margin: 1.5rem 0.4rem;
}
