#message-container {
  display: flex;
  padding-left: 2em;
}

#success-message {
  color: green;
  font-size: 1.3em;
}

#warning-message {
  color: red;
  font-size: 1.3em;
}

p.message {
  padding-top: 0.4em;
  margin-bottom: 1em;
  padding-left: 1em;
}
