#user-button-inverted {
  color: white;
  background-color: black;
}

.user-button {
  padding: 0em 2rem 0rem 2rem;
  font-size: 120%;
  height: 3rem;
  margin-left: 2rem;
  font-size: 1em;
  font-family: Poppins;
  font-weight: 700;
}
