div#login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#login-form-container #userauth-login-form {
  width: 100%;
}

div#login-form-container > div.register-redirect {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
}

div#login-form-container > div.register-redirect > span {
  color: #0079d3;
  margin-left: 0.6rem;
  cursor: pointer;
}
