div.text-editor-content {
  border: 1px solid #cccccc;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}
div.text-editor-content .quill div.ql-toolbar {
  background-color: #818481;
  border: 0;
}
div.text-editor-content .quill div.ql-container {
  border: 0;
  background-color: #1a1a1a;
}
div.text-editor-content .quill div.ql-editor {
  font-size: 105%;
  min-height: 15rem;
  color: white;
}
div.text-editor-content .quill div.ql-blank:before {
  color: white;
}

/* Button */
div.text-editor-content div.text-editor-loading-button-container {
  display: flex;
  background: #2d2d2d;
}
div.text-editor-content .loading-button-container {
  min-width: auto;
  min-height: auto;
}
div.text-editor-content .loading-button-container .submit-button {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .quill div.ql-toolbar {
    display: none;
  }
  div.text-editor-content {
    border: 1px solid #ffa500;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
  }
}
